body {
    background-color: #0d3f30;
}

.address-container {
    background-color: white;
    border-radius: 20px;
    padding: 40px 30px;
    max-width: 850px;
    margin: 40px auto;
    font-family: "Lexend", sans-serif;
    position: relative;
    overflow: visible !important;
}

select.form-select-sm {
    min-height: 36px;
    z-index: 10;
    position: relative;
}

.invalid-feedback {
    font-size: 0.775em;
    color: #dc3545;
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    text-align: left;
}

.is-invalid + .invalid-feedback {
    display: block;
}
