body {
    background-color: #0d3f30;
}

.address-container {
    background-color: white;
    border-radius: 20px;
    padding: 40px 30px;
    max-width: 850px;
    margin: 40px auto;
    font-family: 'Lexend', sans-serif;
}