:root {
  --bg-primary: #13392A;
  --bg-secondary: #CFE6B0;
  --bg-tertiary: #185640;
  --bg-contrast: #E77133;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--bg-primary) !important;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.material-symbols-outlined {
  color: white;
}

.profile-container{
    width: 100%;
    background-color: var(--bg-secondary);
    height: 90vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.profile-container h1{
    letter-spacing: 0.01em;
    font-size: 80px;
    font-weight: 630;
}

.all-profile-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.catering-info-left-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catering-info-right-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phone-number-and-schedule-wrapper,
.location-wrapper,
.rating-and-number-sold-wrapper{
  display: flex;
  margin-top: 20px;
  align-items: center;
  gap: 15px;
}

.phone-number-container{
    background-color: var(--bg-tertiary);
    width: 250px;
    height: 35px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-number{
    margin-left: 10px;
    color: white;
    font-size: 20px;
}

.schedule{
    margin-left: 10px;
    color: var(--bg-tertiary);
    font-size: 20px;
}

.schedule-dipake{
    margin-bottom: 0px;
    font-size: 20px;
}

.location-icon{
    color: #411111;
    font-size: 45px !important;
    font-variation-settings: 'FILL' 1;
}

.address{
    color: #411111;
    font-size: 18px;
    letter-spacing: 1px;
}

.rating-container{
    background-color: var(--bg-contrast);
    background-color: #ff9d00;
    width: 120px;
    height: 50px;
    border-radius: 100px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:  pointer;
}

.star-icon{
    color: yellow;
    font-size: 40px !important;
    font-variation-settings: 'FILL' 1;
    margin-right: 5px;
}

.rating-and-sold{
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.number-sold-container{
    background-color: var(--bg-contrast);
    width: 200px;
    height: 50px;
    border-radius: 100px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sold-text{
    color: var(--bg-tertiary);
    font-size: 25px;
    margin: 0px;
    font-weight: 550;
    margin-bottom: -10px;
    margin-top: -10px;
}

.hijau-luar{
    width: 650px;
    height: 380px;
    background-color: var(--bg-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    transform: rotate(36deg);
    box-shadow: var(--box-shadow);
}

.cokelat-lingkaran{
    width: 480px;
    height: 480px;
    border-radius: 1000px;
    background-color: #411111;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.logo-catering{
    width: 440px;
    height: 440px;
    border-radius: 1000px;
    transform: rotate(-36deg);
}

.rate-review-button{
    text-decoration: none;
}

.daun-container{
    position: relative;
    display: flex;
}

.daun1{
    position: absolute;
    margin-top: -130px;
    margin-right: -85px;
    top: 0px;
    right: 0px;
    width: 200px;
}

.daun2{
    position: absolute;
    margin-right: 300px;
    bottom: -50px;
    right: 0px;
    width: 700px;
}

.food-preview-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
    height: auto;
}

.food-preview-container h1{
    font-size: 50px;
    color: white;
}

.carousel-wrapper{
    width: 80%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.carousel-item{
    overflow: hidden;
    border-radius: 20px;
}

.carousel-inner img {
    height: 70vh;          
    object-fit: cover;       
    width: 100%;
    border-radius: 20px;
}

.carousel-control-prev {
    margin-left: -10%;
}

.carousel-control-next {
    margin-right: -10%;
}

.carousel-indicators{
    margin-bottom: -3% !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.carousel-indicators button {
    width: 6px !important;
    height: 6px !important; 
    border-radius: 50%;
    background-color: #000;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #000;
}

.price-and-shipping-container{
    width: 100%;
    background-color: var(--bg-secondary);
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    gap: 7%;
}

.price-and-shipping-container h1{
    color: white;
}

.weekly-price-wrapper,
.shipping-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: var(--bg-tertiary);
    height: auto;
    border-radius: 20px;
    width: 32%;
    box-shadow: var(--box-shadow);
}

.price-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* gap: 10px; */
}

.price-bulet{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    width: auto;
    padding: 20px;
    border-radius: 50%;
    background-color: #F5A623;
    box-shadow: var(--box-shadow);
}

/* Perbaikan untuk price-bulet agar ukurannya tetap */
.price-bulet {
    display: flex;
    justify-content: center;
    align-items: center;
    /* aspect-ratio: 1 / 1; */ /* Hapus atau jadikan komentar ini */
    /* width: auto; */ /* Hapus atau jadikan komentar ini */

    width: 200px; /* Tetapkan lebar tetap */
    height: 200px; /* Tetapkan tinggi tetap */
    flex-shrink: 0; /* Pastikan tidak menyusut jika ada ruang terbatas */

    padding: 10px;
    border-radius: 50%;
    background-color: #F5A623;
    box-shadow: var(--box-shadow);
}

.price-bulet h1{
    font-size: 55px;
    font-weight: bold;
    text-shadow: 2px 2px 7px #00000059;

    /* Tambahkan properti untuk mencegah teks meluber atau terlalu besar */
    white-space: nowrap; /* Mencegah teks turun baris */
    overflow: hidden; /* Sembunyikan teks yang meluber */
    text-overflow: ellipsis; /* Tambahkan elipsis jika teks terlalu panjang */
    line-height: 1; /* Pastikan tinggi baris tidak terlalu besar */
    display: block; /* Pastikan sebagai block untuk overflow/text-overflow */
    max-width: 100%; /* Pastikan tidak melebihi lebar parent */
}

.price-kanan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
    /* min-width: 180px;
    flex-grow: 1; */
}

/* Font dan tampilan umum dropdown */
.dropdown{
    width: 100%;
    /* margin-left: -7px !important; */
}

#dropdownMenuButton{
    margin-left: -10px;
     /* Set lebar maksimum dan tambahkan ellipsis untuk teks yang terlalu panjang */
    max-width: 200px; /* Sesuaikan lebar ini sesuai keinginan Anda */
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Tambahkan atau sesuaikan padding jika diperlukan untuk ikon panah */
    padding-right: 24px !important; /* Beri ruang untuk panah dropdown */
    position: relative; /* Untuk positioning panah yang lebih baik */
    text-align: left; /* Teks rata kiri */
}

/* Posisi panah dropdown */
#dropdownMenuButton::after {
    position: absolute;
    right: 10px; /* Sesuaikan posisi panah */
    top: 50%;
}

.dropdown-menu{
    --bs-dropdown-link-active-bg: #2F745B !important;
    --bs-dropdown-link-active-color: white !important;
    --bs-dropdown-link-hover-bg: #2F745B !important;
    --bs-dropdown-link-hover-color: white !important;
    width: 100% !important; /* Agar menu dropdown sama lebarnya dengan tombol */
    min-width: unset !important;
}

.dropdown-item {
    width: 100% !important; /* Agar item dropdown sama lebarnya dengan tombol */
  font-size: 18px;                     /* Ukuran font */
  color: #333;                         /* Warna teks default */
  background-color: #fff;              /* Warna latar item */
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

/* Tombol dropdown itu sendiri */
.btn-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
    font-weight: bold !important;
    background-color: #2F745B !important;  /* Warna tombol */
    border-color: #2F745B !important;
    color: white !important;
}

/* Gaya umum untuk list-group */
.list-group-item {
  font-size: 20px !important;                    /* Ukuran font */
  background-color: transparent !important;      /* Hilangkan warna latar */
  border: none !important;                       /* Hilangkan border default item */
  /* padding-left: 0.1rem !important; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: -20px !important;  
}

.form-check-input[disabled]~.form-check-label, .form-check-input:disabled~.form-check-label{
    opacity: 1 !important;
}

/* Gaya checkbox */
.form-check-input {
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #ffffff !important;         /* Warna border checkbox */
  border-radius: 4px;                /* Bisa dibuat bulat jika mau */
  background-color: transparent !important;     /* Hilangkan latar default */
  cursor: pointer;
}

/* Label font dan posisi */
.form-check-label {
    margin-top: 1px;
  cursor: pointer;
  color: #ffffff;                       /* Warna teks */
}

.section-makan{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start !important;
    background-color: var(--bg-primary);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    padding-left: 20px;
}

.section-makan h3{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.section-makan p{
    display: flex;
    color: white;
    margin-bottom: 0px;
    font-size: 15px;
}

.dropdown-menu{
    width: 100% !important;
    min-width: unset !important; 
}

.form-check-input:focus {
    outline: none;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.2) !important;
}

/* .packages-container{
    width: 100%;
    background-color: var(--bg-primary);
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.packages-container h1{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
} */

/* .accordionn-wrapper{
    width: 80%;
} */

#packages {
    width: 100%;
    background-color: var(--bg-primary);
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#packages h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

.accordions{
    width: 100%;
    margin: 10px auto;
}

.accordions h4{
    /* text-align: center; */
    font-weight: bold;
}

.accordion-item{
    background-color: #E9EBEA !important;
    margin-bottom: 20px;
    /* border: 1px solid #E9EBEA !important; */
    border-radius: 12px !important;
    color: var(--bg-tertiary) !important;
}

.accordion-item .accordion-title{
    /* cursor: pointer; */
    padding: 20px;
    /* transition: transform 0.4s ease-in-out; */
    /* transition: transform 0.4s ease-in-out; */
    transition: none !important;

    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.accordion-item .accordion-title.active-title{
    background-color: #E9EBEA !important;
    color: var(--bg-tertiary);
}

.accordion-item .accordion-title h4{
    font-weight: 700;
    /* margin-bottom: 10px; */
    margin-bottom: 0px;
    font-size: 18px;
    display: flex;
    /* justify-content: space-between; */
}

.accordion-item .accordion-title p{
    margin: 0px;
}

.category-cuisine-wrapper{
    color: rgb(58, 58, 58);
}

.category-cuisine-bold{
    font-weight: bold;
}

.left-card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nama-package-dan-download-wrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.download-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
    padding: 1px;
    border-radius: 100px;
    /* background-color: #cccccc; */
    /* background-color: var(--bg-secondary); */
    border-color: var(--bg-tertiary);
    border-style: solid;
    border-width: 1.5px;
    width: fit-content;
    cursor: pointer;
    color: var(--bg-tertiary);
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
}

.download-icon{
    font-size: 25px !important;
    font-weight: lighter !important;
    margin: 0px !important;
    /* color: #707070; */
    color: var(--bg-tertiary);
    margin-right: 0.5px;
}

.package-image{
    width: 80px;
    height: 80px;
    border-radius: 1000px;
    margin-right: 10px;
}

.right-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.right-card-wrapper p{
    margin-right: 10px;
}

.view-menu-text{
    margin-bottom: 20px !important;
    text-decoration-line: underline;
    text-align: right;
    margin-right: 10px !important;
    cursor: pointer;
}

.add-button-wrapper{
    width: 100%;
    background-color: red;
    /* margin-top: -30px; */
}

.add-button{
    width: 80px;
    height: auto;
    padding: 5px;
    background-color: var(--bg-contrast);
    border-radius: 100px;
    float: right;
    margin-bottom: -25px;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-button .add-text{
    margin: 0px;
    color: white;
    font-weight: bold;
}

.accordion-item .accordion-content{
    display: none;
    line-height: 1.7;
    padding: 10px;
    /* background-color: white; */
    background-color: var(--bg-contrast);
    border-radius: 0 0 5px 5px;
    color: white;
}

.accordion-item .accordion-content.active{
    display: block;
}

.accordion-item .accordion-content p{
    margin: 0;
    font-size: 16px;   
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-row {
    background-color: rgba(255, 255, 255, 0.1);
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

input, button, select, optgroup, textarea{
    line-height: normal !important;
}

.item-row span:first-child {
  flex: 1;
}

.item-row .price {
  flex: 0 0 100px;
  text-align: left;
}

.qty-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-control button {
    /* padding: 5px 10px; */
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qty-control .qty {
    min-width: 20px;
    text-align: center;
    display: inline-block;
}

.button-order {
  width: 60%;
  margin-top: 0px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: white;
  border-radius: 100px;
  background-color: var(--bg-contrast);
}

.button-order span {
  flex: 1;
  text-align: center;
}

.order-message {
  width: 100%;
  text-align: center;
}

.package-count {
  text-align: left;
  font-weight: bold;
}

.price-total {
  text-align: right;
  font-weight: bold;
}

/* utk per-pdf-an: */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    margin: 5% auto;
    padding: 10px;
    background: white;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    position: relative;
    height: 75%;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    padding: 2px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}



@media screen and (max-width: 1201px){
    .daun1{
        width: 150px;
    }

    .daun2{
        margin-right: 200px;
        bottom: -30px;
        right: -50px;
        width: 600px;
    }

    .profile-container {
        height: 80vh;
    }

    .hijau-luar {
        width: 500px;
        height: 280px;
        transform: rotate(36deg);
    }

    .cokelat-lingkaran {
        width: 350px;
        height: 350px;
    }

    .logo-catering {
        width: 310px;
        height: 310px;
    }

    .profile-container h1 {
        font-size: 70px;
        margin-right: 50px;
    }

    .rating-container,
    .number-sold-container {
        height: 40px;
    }

    .rating-container{
        width: 110px;
    }

    .number-sold-container {
        width: 150px;
    }

    .rating-and-sold {
        font-size: 25px;
    }

    .star-icon {
        font-size: 30px !important;
    }

    .sold-text{
        font-size: 22px;
    }

    .phone-number-container{
        width: 220px;
        height: 35px;
    }

    .phone-number{
        font-size: 18px;
    }
}

@media screen and (max-width: 1025px) {
    .profile-container {
        height: 80vh;
    }

    .container {
        max-width: 930px !important;
    }

    .profile-container h1 {
        font-size: 60px;
        margin-right: 70px;
        margin-bottom: -8px;
    }

    .address {
        font-size: 13px;
        letter-spacing: 0px;
    }

    .schedule {
        font-size: 18px;
    }

    .schedule-dipake{
        font-size: 18px;
    }

    .call-icon {
        font-size: 20px !important;
    }

    .location-icon {
        font-size: 35px !important;
    }

    .phone-number-container{
        width: 180px;
        height: 30px;
    }

    .phone-number {
        font-size: 15px;
    }

    .phone-number-and-schedule-wrapper,
    .location-wrapper,
    .rating-and-number-sold-wrapper {
        gap: 10px;
    }

    .rating-container,
    .number-sold-container {
        height: 35px;
    }

    .rating-container{
        width: 100px;
    }

    .number-sold-container {
        width: 140px;
    }

    .rating-and-sold {
        font-size: 20px;
    }

    .star-icon {
        font-size: 25px !important;
    }

    .sold-text{
        font-size: 18px;
        margin-bottom: -15px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .food-preview-container{
        padding-top: 90px;
        padding-bottom: 70px;
    }

    .food-preview-container h1{
        font-size: 35px;
        color: white;
    }

    .carousel-wrapper{
        width: 80%;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .carousel-item{
        overflow: hidden;
        border-radius: 20px;
    }

    .carousel-inner img {
        height: 60vh;          
        object-fit: cover;       
        width: 100%;
        border-radius: 20px;
    }

    .carousel-control-prev {
        margin-left: -12%;
    }

    .carousel-control-next {
        margin-right: -12%;
    }

    .carousel-indicators{
        margin-bottom: -5% !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 2rem !important;
        height: 2rem !important;
    }

    .carousel-indicators button {
        width: 6px !important;
        height: 6px !important; 
        border-radius: 50%;
        background-color: #000;
        opacity: 0.5;
        transition: opacity 0.3s ease;
    }

    .carousel-indicators .active {
        opacity: 1;
        background-color: #000;
    }

    .price-and-shipping-container{
        padding-top: 120px;
        padding-bottom: 120px;
        gap: 5%;
    }

    .price-and-shipping-container h1{
        font-size: 35px;
    }

    .weekly-price-wrapper,
    .shipping-wrapper{
        width: 35%;
    }

    #dropdownMenuButton{
        margin-left: -10px;
        max-width: 150px;
        width: 150px;
    }

    .price-bulet {
        width: 150px; /* Tetapkan lebar tetap */
        height: 150px; /* Tetapkan tinggi tetap */
        padding: 5px;
    }

    .price-bulet h1{
        font-size: 40px;
    }

    .dropdown-item {
        font-size: 15px;
    }

    .btn-secondary {
        font-size: 17px !important;
    }

    .list-group-item {
        font-size: 15px !important;   
        margin-bottom: -20px !important;          
    }

    .price-kanan{
        margin-left: 10px;
    }

    .form-check-input {
        width: 17px !important;
        height: 17px !important;
    }

    .form-check-label {
        margin-top: 2px;          
    }

    .section-makan h3{
        font-size: 16px;
        margin-bottom: 0px;
    }

    .section-makan p{
        margin-bottom: 0px;
        font-size: 14px;
    }

    #packages h1{
        font-size: 35px;
    }
}

@media screen and (max-width: 912px) {
    .container {
        max-width: 830px !important;
    }

    .profile-container {
        height: 60vh;
    }

    .catering-info-right-wrapper{
        margin-left: -50px;
    }

    .hijau-luar {
        width: 440px;
        height: 220px;
    }

    .cokelat-lingkaran {
        width: 300px;
        height: 300px;
    }

    .logo-catering {
        width: 260px;
        height: 260px;
    }
}

@media screen and (max-width: 768px) {
    .daun1, .daun2 {
        display: none;
    }

    .profile-container {
        height: 60vh;
    }

    .container {
        max-width: 700px !important;
    }

    .profile-container h1 {
        font-size: 50px;
        /* margin-right: 50px; */
        /* margin-bottom: -8px; */
    }

    .address {
        font-size: 12px;
    }

    .schedule {
        font-size: 15px;
        margin-left: 0px;
    }

    .schedule-dipake{
        font-size: 15px;
    }

    .call-icon {
        font-size: 15px !important;
    }

    .location-icon {
        font-size: 30px !important;
    }

    .phone-number-container{
        width: 150px;
        height: 25px;
    }

    .phone-number {
        font-size: 13px;
        margin-left: 3px;
    }

    .phone-number-and-schedule-wrapper,
    .location-wrapper,
    .rating-and-number-sold-wrapper {
        gap: 10px;
    }

    .rating-container,
    .number-sold-container {
        height: 30px;
    }

    .rating-container{
        width: 90px;
    }

    .number-sold-container {
        width: 130px;
    }

    .rating-and-sold {
        font-size: 18px;
    }

    .star-icon {
        font-size: 25px !important;
    }

    .sold-text{
        font-size: 15px;
    }

    .hijau-luar {
        width: 350px;
        height: 200px;
    }

    .cokelat-lingkaran {
        width: 250px;
        height: 250px;
    }

    .logo-catering {
        width: 230px;
        height: 230px;
    }

    .food-preview-container{
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .food-preview-container h1{
        font-size: 25px;
        color: white;
    }

    .carousel-wrapper{
        width: 80%;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .carousel-inner img {
        height: 45vh;          
        object-fit: cover;       
    }

    .carousel-control-prev {
        margin-left: -12%;
    }

    .carousel-control-next {
        margin-right: -12%;
    }

    .carousel-indicators{
        margin-bottom: -5% !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }

    .carousel-indicators button {
        width: 5px !important;
        height: 5px !important; 
        border-radius: 50%;
    }

    .price-and-shipping-container{
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 7%;
    }

    .price-and-shipping-container h1{
        font-size: 25px;
    }

    .weekly-price-wrapper,
    .shipping-wrapper{
        width: 35%;
        padding: 15px;
    }

    #dropdownMenuButton{
        max-width: 120px;
        width: 120px;
    }

    .price-bulet {
        width: 110px; /* Tetapkan lebar tetap */
        height: 110px; /* Tetapkan tinggi tetap */
        padding: 5px;
    }

    .price-bulet h1{
        font-size: 28px;
    }

    #dropdownMenuButton {
        height: 25px;                    /* Tinggi tombol */
        line-height: 25px;              /* Biar teks vertikal tengah */
        padding: 0 10px;                /* Jarak kiri-kanan teks */
        margin-left: -10px;
    }

    .dropdown-menu{
        width: 100% !important;
        min-width: unset !important; 
        padding-left: 10px !important;
    }

    .dropdown-item {
        font-size: 13px;
        padding: 0px !important;
        margin: 0px !important;
    }

    .btn-secondary {
        font-size: 15px !important;
    }

    .list-group-item {
        font-size: 13px !important;   
        margin-bottom: -7px !important;    
        margin-left: -20px !important;      
    }

    .form-check-input {
        width: 12px !important;
        height: 12px !important;
        border: 1.5px solid #ffffff !important; 
    }

    .form-check-label {
        margin-top: 0px;          
    }

    .section-makan{
        padding: 10px;
        margin-top: 8px;
    }

    .section-makan h3{
        font-size: 13px;
    }

    .section-makan p{
        font-size: 12px;
    }
    
    #packages{
        padding-top: 70px;
        padding-bottom: 70px;
    }

    #packages h1{
        font-size: 25px;
    }

    .accordion-title h4{
        font-size: 17px !important;
    }

    .category-cuisine-wrapper{
        font-size: 13px;
    }

    .button-order{
        font-size: 15px;
    }
}

@media screen and (max-width: 426px) {
    .catering-info-right-wrapper{
        height: 0px;
        width: 0px;
        display: flex;
        justify-content: left;
        margin: 0px;
        margin-left: 30px;
        display: none;
    }

    .catering-info-left-wrapper{
        display: flex;
        justify-content: first baseline;
        align-items: start;
    }

    .hijau-luar {
        width: 50px;
        height: 50px;
        border-radius: 1000px;
        transform: rotate(0deg);
        box-shadow: none;
        margin-top: -245px;
    }

    .cokelat-lingkaran {
        width: 50px;
        height: 50px;
        box-shadow: none;
        rotate: 0deg;
        overflow: visible;
    }

    .logo-catering {
        width: 85px;
        height: 85px;
        transform: rotate(0deg);
        border-style: solid;
        border-width: 5px;
        border-color: var(--bg-tertiary);
    }

    .profile-container {
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        margin-top: 0px;
        justify-content: start;
    }

    .all-profile-wrapper {
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }

    .profile-container h1 {
        margin-right: 0px;
        /* margin-left: 110px; */
        margin-left: 0px;
        font-size: 30px;
        margin-bottom: 10px;
        letter-spacing: 0px;
    }

    .phone-number-container{
        width: 160px;
        height: 25px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .phone-number {
        font-size: 14px;
        margin-left: 3px;
    }

    .rating-and-number-sold-wrapper {
        margin-top: 10px;
        gap: 10px
    }

    .location-wrapper{
        gap: 10px;
        margin-top: 10px;
        align-items: start;
    }

    .phone-number-and-schedule-wrapper{
        /* flex-direction: column; */
        justify-content: left;
        align-items: first baseline;
        margin-top: 0px;
    }

   .address {
        font-size: 15px;
        letter-spacing: normal;
    }

    .schedule {
        font-size: 15px;
        font-weight: bold;
        margin-left: 0px;
        margin-bottom: 0px;
        letter-spacing: normal;
    }

    .call-icon {
        font-size: 15px !important;
    }

    .location-icon {
        font-size: 30px;
    }

    .rating-container,
    .number-sold-container {
        height: 30px;
    }

    .rating-container{
        width: 80px;
    }

    .number-sold-container {
        width: 140px;
    }

    .rating-and-sold {
        font-size: 18px;
    }

    .star-icon {
        font-size: 23px !important;
    }

    .sold-text{
        font-size: 15px;
    }

    .sold-text{
        font-size: 18px;
        margin-bottom: -10px;
        margin-top: 5px;
        margin-left: 10px;
    }

    .food-preview-container{
        padding-top: 60px;
        padding-bottom: 35px;
    }

    .food-preview-container h1{
        font-size: 20px;
        color: white;
    }

    .carousel-wrapper{
        width: 80%;
        padding-top: 10px;
        /* padding-bottom: 30px; */
    }

    .carousel-item{
        border-radius: 10px;
    }

    .carousel-inner img {
        height: 23vh;          
        object-fit: cover;  
        border-radius: 10px;
    }

    .carousel-control-prev {
        margin-left: -12%;
    }

    .carousel-control-next {
        margin-right: -12%;
    }

    .carousel-indicators{
        margin-bottom: -8% !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 1rem !important;
        height: 1rem !important;
        background-color: transparent !important;
        opacity: 1 !important;
    }

    .carousel-indicators button {
        width: 4px !important;
        height: 4px !important; 
        border-radius: 50%;
    }

    
    .price-and-shipping-container{
        padding-top: 0px;
        padding-bottom: 65px;
        flex-direction: column;
        gap: 0%;
        align-items: center;
        /* border-top-left-radius: 30px;
        border-top-right-radius: 30px; */
        /* box-shadow: var(--box-shadow); */
        background-color: #13392A;
    }

    .price-and-shipping-container h1{
        font-size: 20px;
    }

    .dropdown{
        right: 0% !important;
        margin-left: 0vh !important;
    }

    .weekly-price-wrapper,
    .shipping-wrapper{
        width: 75%;
        padding: 15px;
        border-radius: 15px;
    }

    .weekly-price-wrapper{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .shipping-wrapper{
        margin-top: 35px;
        padding-bottom: 25px;
    }

    .price-kanan{
        margin-left: 15px;
    }

    .price-bulet{
        width: 110px;
        height: 110px;
        padding: 10px;
    }

    .price-bulet h1{
        font-size: 30px;
    }

    #dropdownMenuButton {
        height: 25px;                    /* Tinggi tombol */
        line-height: 25px;              /* Biar teks vertikal tengah */
        padding: 0 10px;                /* Jarak kiri-kanan teks */
        margin-left: 0px;
    }

    .dropdown-menu{
        width: 100% !important;
        min-width: unset !important; 
        padding-left: 10px !important;
    }

    .dropdown-item {
        font-size: 15px;
        padding: 0px !important;
        margin: 0px !important;
    }

    .btn-secondary {
        font-size: 16px !important;
    }

    .list-group-item {
        font-size: 16px !important;   
        margin-bottom: -20px !important;          
    }

    .form-check-input {
        width: 15px !important;
        height: 15px !important;
        border: 1.5px solid #ffffff !important; 
    }

    .form-check-label {
        margin-top: 0px;          
    }

    .section-makan{
        padding: 10px;
        margin-top: 8px;
    }

    .section-makan h3{
        margin-left: 15px;
        font-size: 15px;
    }

    .section-makan p{
        margin-left: 15px;
        font-size: 14px;
    }

     #packages{
        padding-top: 0px;
        padding-bottom: 70px;
    }

    #packages h1{
        font-size: 20px;
    }

    .package-image{
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .accordion-title{
        padding: 10px !important;
    }

    .accordion-title h4{
        font-size: 17px !important;
    }

    .view-menu-text{
        margin-bottom: 0px !important;
        font-size: 12px;
        margin-top: -20px !important;
    }

    .add-text{
        font-size: 13px !important;
    }

    .add-button{
        margin-top: 20px;
    }

    .category-cuisine-wrapper{
        font-size: 13px;
    }

    .button-order{
        width: 85%;
        font-size: 15px;
    }

    .download-icon{
        font-size: 20px !important;
    }


}