body{
    background: linear-gradient(to right, #123F2F 0%, #2C6F4A 48%,#9FCD9E 100%);
}
.content{
  margin-top: -28px;
}
.check-border{
  border: 2px solid black;
}
.card-title{
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 110;
  font-size: 2rem;
}
.change-card-link{
  color: black;
  font-family: "Roboto" !important;
  font-size: 0.7rem !important;
  text-decoration: none;
}
.form-floating input{
  font-size: 0.9rem !important;
}
.form-floating label{
  font-size: 0.9rem !important;
}
.form-floating .invalid-feedback{
  font-size: 0.9rem !important;
}
.login{
  width: 100% !important;
}
#remember{
  border: 1px solid black;
}