

.custNavigation
{
    background-color: #052418;
}

.dropdown-bahasa
{
    margin-left: 3vh;
}

/* Pastikan hamburger menu putih */
.navbar-toggler .navbar-toggler-icon,
.toggleiconnav {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e") !important;
}

.navbar-toggler
{
    border: none;
    font-size: 1.25rem;
}

.offcanvas-header
{
    background-color: #F5A623;
}

.offcanvas-body
{
    background-color: #052418;
}

.navbar-toggler:focus .btn-close:focus
{
    box-shadow: none;
    outline: none;
}

.navigationcustlink
{
    color: white;
    font-weight: 300;
    position: relative;
}

.navigationcustlink {
    color: #f0f0f0; /* Warna default tidak aktif */
}



.navigationcustlink,
.navigationcustlink:visited,
.navigationcustlink:focus,
.navigationcustlink:active {
    color: white;
}

.navigationcustlink:hover{
    color: #F5A623 !important;
    
}

.navigationcustlink.active {
    color: #FFD700 !important; /* atau warna lain yang kamu mau */
    font-weight: bold;
    /* text-decoration: underline; opsional */
}



.login_button
{
    background-color: #F5A623;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: white;
    width: 130%;
    border: none;
    transition: 0.3s ease-in-out;
}

.login_button:hover 
{
    background-color: #cb8006;
    width: 135%;
    height: 110%;
}



@media(min-width: 991px)
{
    .navigationcustlink::before
    {
        content: "";
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 2px;
        background-color: white;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .navigationcustlink:hover::before
    {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 400px)
{
    .dropdown-bahasa
    {
        right: 10%;
    }
}

.offcanvas.offcanvas-end {
  width: 300px !important;
  --bs-offcanvas-width: 300px;
}


.dropdown-bahasa
{
    width: 60px;
}

