.nav-visibility{
  visibility: visible !important;
}
.check-border{
    border: 2px solid black;
}
.content{
  margin-top: -28px;
}
.content-1{
  background-image: url(../../asset/customer/customer-first-page/fruitVegs.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.account-setup-title
{
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 115;
  font-size: 1.8rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 100;
  font-size: 3.7rem !important;
}
#submit-button{
  width: 100%;
  background-color: #1D3A2E;
}
#recepient-tel{
  width: 100%;
}

