:root {
  --bg-primary: #13392A;
  --bg-secondary: #ffffff;
  --bg-tertiary: #185640;
  --bg-contrast: #E77133;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
}

.lexend {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
}

.font-100{
    font-weight: 100;
}

.font-300{
    font-weight: 300;
}

.font-300{
    font-weight: 400;
}

.font-400{
    font-weight: 500;
}

.font-600{
    font-weight: 600;
}

.font-700{
    font-weight: 700;
}

.dark-bg {
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.hug-content {
  width: fit-content;
}

.subscription-card{
  background-color: var(--bg-secondary);
  border-radius: 10px;
  color: black;
  .title {
    font-size: 18px;
  }
  .detail{
    font-size: 14px;
    line-height: 28px;
  }
  .subscription-detail{
    .sub-title{
      font-size: 18px;
      font-weight: 400;
      opacity: 0.8;
      line-height: 20px;
    }
    .content {
      font-size: 20px;
      line-height: auto;
    }
  }
  .catering-name {
    font-size: 24px;
  }
  .order-details{
    column-gap: 20px;
    row-gap: 10px;
    .time-slot{
      border: black 1.5px solid;
      border-radius: 8px;
      min-height: 110px;

      &.active {
        border-color: var(--bg-contrast);
      }

      .time-slot-type{
        font-size: 20px;
      }
      
      .delivery-status {
        background-color: var(--bg-contrast);
        border-radius: 5px;
        color: var(--bg-secondary);
        font-size: 16px;
        font-weight: 350;
        padding: 2px 8px 2px 8px;
      }
    }
    .package {
      font-size: 16px;
      font-weight: 350;
      line-height: 18px;
      .package-name{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

@media screen and (max-width: 395px) {
  .subscription-card {
    .subscription-detail{
      .sub-title{
        font-size: 16px;
      }
      .content {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

.detail-link{
  text-decoration: none;
  color: black;
}