:root {
  --bg-primary: #13392A;
  --bg-secondary: #CFE6B0;
  --bg-tertiary: #185640;
  --bg-contrast: #E77133;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lexend {
    font-family: 'Lexend', sans-serif;
    font-style: normal;
}

.font-thin{
    font-weight: 100;
}

.font-light{
    font-weight: 300;
}

.font-regular{
    font-weight: 400;
}

.font-medium{
    font-weight: 500;
}

.font-semibold{
    font-weight: 600;
}

.font-bold{
    font-weight: 700;
}

.dark-bg {
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
}

.subscription-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 25px;
  position: relative;
  background-color: #ffffff;
  border: 2px solid;
  border-color: transparent;
}

.subscription-card .subscription-header {
  align-items: flex-end;
  justify-content: flex-end;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.subscription-card .text-wrapper {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #13392a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .div {
  position: relative;
  width: fit-content;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #13392a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .subscription-header-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.subscription-card .subscription-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  position: relative;
}

.subscription-card .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #383838;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .date-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.subscription-card .text-wrapper-3 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #383838;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .subscription-header-3 {
  align-items: center;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.subscription-card .subscription-content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.subscription-card .p {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #383838;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #383838;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .frame {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.subscription-card .subscription-content-wrapper {
  width: 300px;
  align-items: center;
  gap: 20px;
  padding: 10px 35px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
  display: flex;
  position: relative;
}

.subscription-card .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 400;
  color: #383838;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .paket-n-qty {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.subscription-card .paket {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.subscription-card .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #383838;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #383838;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .paket-2 {
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: flex-start;
  gap: 2px;
  position: relative;
}

.subscription-card .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #383838;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  font-family: "Lexend-Light", Helvetica;
  font-weight: 300;
  color: #383838;
  font-size: 20px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.subscription-card .paket-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.subscription-card .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 5px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f57937;
  border-radius: 5px;
}

.subscription-card .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Lexend-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
