:root {
  --primary-color: #E77133;
  --secondary-color: #ffffff;
  --secondary-green: #CFE6B0;
  --tertiary-color: #185640;
  --accent-color: #F5A623;
  --background-color: #13392A;
  --neutral-color: #dee0de;
  --text-color: #0b0b0b;
  --white-1: #f3f3f3;
  --title-color: #fffbfb;
  --link-color-1: #1f1f1f;
  --link-color-1-hover: #000000;
  --box-shadow-light: 0px 2px 10px rgba(255, 255, 255, 0.2);
  --box-shadow-light-hover: 0 2px 10px 2px rgba(255, 255, 255, 0.5);
  --box-shadow-dark: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

body {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
  background-color: var(--background-color);
  font-weight: 350;
}

/* Reset Row */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Tab Control */
.tab-control-wrapper {
  background-color: #f3f3f3;
  height: 6vh;
  border-radius: 3px;
  box-shadow: var(--box-shadow-light);

  * {
    padding: 0;
  }

  .tab-control-text-wrapper {
    border-bottom: 4px solid #c5c5c5;
    transition: 0.25s ease-in;

    &.active {
      border-bottom: 4px solid #73b973;
      color: #185640;
    }
  }

  .tab-control-text-wrapper:first-child {
    border-bottom-left-radius: 3px;
  }

  .tab-control-text-wrapper:last-child {
    border-bottom-right-radius: 3px;
  }

  .tab-control-text {
    font-weight: 350;
    font-size: 20px;
    line-height: 30px;
    transition: 0.25s ease-in;
  }
}

.tab-control-text-wrapper:hover {
  color: var(--tertiary-color);
}

@media screen and (max-width: 600px) {
  .tab-control-wrapper .tab-control-text {
    font-size: 16px;
  }
}

/* SEARCH BAR */
.search-container {
  padding-right: 0;
}

.search-wrapper {
  padding: 5px 15px;
  transition: 0.25s ease-in;
}

.search-style-1 {
  /* background-color: var(--secondary-color); */
  background-color: var(--neutral-color);
  /* background-color: #f5f5f5 ; */
  border-radius: 5px;
  height: 40px;
}

.search-button {
  background-color: transparent;
  border: none;
}

.search-icon-1 {
  color: #4f4f4f;
}

.input-text-style-1 {
  background-color: transparent;
  border: none;
}

.input-text-style-1:focus {
  outline: none;
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.search-wrapper:focus-within {
  background-color: #f0efef;
  /* or any color you want */
}

@media screen and (max-width: 550px) {
  .search-container {
    padding-left: 0;
  }
}

/* CARD ORDER */
.card-order {
  background-color: var(--white-1);
  border-radius: 3px;
  padding: 25px;
  padding-bottom: 20px;
  /* box-shadow: var(--box-shadow-dark); */
  box-shadow: var(--box-shadow-light);
  display: flex;
  flex-direction: column;

  .card-header {
    padding-bottom: 5px;
    border-bottom: var(--background-color) 2px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;

    .left-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 5px;

      .vendor-name-wrapper {
        max-width: 300px;
        min-width: 150px;
        width: fit-content;

        h5 {
          margin-bottom: 0;
          font-size: 20px;
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      .btn-view {
        padding: 3px 6px;
        border-radius: 5px;
        border: #393939 1px solid;
        background-color: inherit;
        transition: 0.2s ease-in-out;

        p {
          font-size: 11px;
          font-weight: 300;
          color: #000000;
        }
      }

      .btn-view:hover {
        border: #a4a4a4 1px solid;
        background-color: #edeaea;
      }
    }

    .right-container {
      .order-date {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .date {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
  }

  .card-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

    .card-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      border-bottom: var(--background-color) 1px solid;

      .image-wrapper {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
          height: 100%;
          border-radius: 1px;
          object-fit: fill;
        }
      }

      .right-container {
        display: flex;
        width: calc(100% - 80px - 20px);
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .package-detail {
          width: calc(100% - 25% - 20px);
          max-width: 800px;
          min-width: 200px;
        }

        .price-wrapper {
          width: 25%;
          display: flex;
          flex-direction: row;
          justify-content: end;

          .text-wrapper {
            display: flex;
            align-items: center;
          }

          p {
            font-size: 18px;
            font-weight: 350;
          }
        }
      }
    }
  }

  .card-bottom {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left-container {
      .rating-container {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .detail-primary {
          color: #4d4d4d;
          font-weight: 300;
        }

        .rating-icon-list {
          display: flex;
          flex-direction: row;
          gap: 2px;
          align-items: center;
        }
      }
    }

    .right-container {
      .total-container {
        min-width: 180px;
        display: flex;
        flex-direction: row;
        gap: 2px;

        .detail-primary {
          font-weight: 300;
        }

        .detail-highlight {
          font-weight: 400;
          font-size: 28px;
          line-height: 30px;
          color: var(--primary-color);
        }
      }
    }
  }
}

.star-icon {
  font-size: 28px;
  color: #4d4d4d;
  font-variation-settings: 'FILL' 1;
  transition: 0.25s ease-in-out;
}

.star-icon.choosen {
  color: var(--accent-color);
}

.detail-primary {
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-secondary {
  color: #555555;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .card-order {
    padding: 15px;

    .card-header {
      .left-container {
        width: 100%;
        gap: 2px;
        justify-content: space-between;
      }

      .right-container {
        .order-date {
          gap: 2px;
        }
      }
    }

    .card-bottom {
      .left-container {
        .rating-container {
          flex-direction: column;
          gap: 0px;
        }
      }
      .right-container{
        .total-container {
          flex-direction: column;
          justify-content: end;
          * {
            text-align: end;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .card-order {
    .card-header {
      .left-container {
        .vendor-name-wrapper {
          max-width: 230px;
        }
      }
    }

    .card-content-wrapper {
      .card-content {
        padding-bottom: 10px;
        padding-top: 8px;
        gap: 8px;

        .right-container {
          flex-direction: column;
          width: calc(100% - 80px - 8px);

          .package-detail {
            .detail-primary {
              font-size: 14px;
              line-height: 18px;
            }

            .detail-secondary {
              font-size: 12px;
            }
          }

          .price-wrapper {
            width: 100%;

            .text-wrapper p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .card-bottom {
      padding-top: 5px;
      .detail-primary {
        font-size: 14px;
      }

      .left-container {
        .rating-container {
          .rating-icon-list {
            .star-icon {
              font-size: 24px;
            }
          }
        }
      }

      .right-container {
        .total-container {
          gap: 0;
          justify-content: end;
          .detail-highlight {
            font-size: 18px;
            line-height: 20px;
          }
        }
      }
    }
  }
}